.selectize-input, .selectize-dropdown  { font-size: 12px; line-height: 20px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
#inline input { display: inline-block; width: 68%;}
.label-left .form-group {
      display: flex;              /* Use flexbox for positioning children */
      flex-direction: row;        /* Place children on a row (default) */
      width: 100%;                /* Set width for container */
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .label-left label {
      margin-right: 2rem;         /* Add spacing between label and slider */
      align-self: center;         /* Vertical align in center of row */
      text-align: right;
      flex-basis: 100px;          /* Target width for label */
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .label-left .irs {
      flex-basis: 100%;          /* Target width for slider */
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

  
span.a {
  display: inline; 
  width: 100px;
  height: 100px;
  padding: 5px; 
  background-color: cadetblue; 
  color:aliceblue;
  border-radius:8px;
}  

span.b {
  display: inline; 
  width: 100px;
  height: 100px;
  padding: 5px; 
  background-color: lightgreen; 
  color:black;
  border-radius:8px;
}  

span.c {
  display: inline; 
  width: 100px;
  height: 100px;
  padding: 5px; 
  background-color: palevioletred; 
  color:black;
  border-radius:8px;
}  

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


body, .rt {
    background-color: antiquewhite;
}