.selectize-input, .selectize-dropdown  { font-size: 12px; line-height: 20px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
#inline input { display: inline-block; width: 68%;}
.label-left .form-group {
      display: flex;              /* Use flexbox for positioning children */
      flex-direction: row;        /* Place children on a row (default) */
      width: 100%;                /* Set width for container */
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .label-left label {
      margin-right: 2rem;         /* Add spacing between label and slider */
      align-self: center;         /* Vertical align in center of row */
      text-align: right;
      flex-basis: 100px;          /* Target width for label */
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .label-left .irs {
      flex-basis: 100%;          /* Target width for slider */
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    
    